<h1> Sign up Form </h1>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button>Submit</button>
</form>


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Sign Out!</a></li>
<li><a href="/logout">Sign Out!</a></li>
